# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# IDE specific
.idea/
.history

# AI Specific
.github/copilot-instructions.md
.junie
AGENTS.md

# Coverage
coverage/

# Docs
doc/

# MacOS
.DS_Store
